/*Universal Styles*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.Purple{
    color: #6415ff;
}

.Container{
    height: 100%;
    width: 100%;
    padding: 56px 0;
}

.Row{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.Unique__Row{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.Row__Column{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

/*Nav Styles*/


nav{
    display: flex;
    height: 120px;
    width: 100vw;
    padding: 0 48px; 
}


.Nav__Div--Container{
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.Nav__List{
    display: flex;
}

.Nav__Link{
    margin-left: 48px;
    font-size: 14px;
    font-weight: 600;
    color: #243E63;
}

.Nav__Link--Awkward{
    margin-left: 56px;
    font-weight: 600;
    font-size: 14px;
    color: #243E63;
}

.Nav__Link--Primary{
    font-size: 14px;
    color: #fff;
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 32px;
    font-weight: 600;
    margin-left: 24px;
}

.Nav__Div--Logo-Cap{
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 260px;
    align-items: center;
}

.Logo{
    max-width: 40px;
}

.Logo--Text{
    font-weight: 900;
    font-size: 24px;
}



/*Home Styles*/

#Home{
    height: 100vh;
    width: 100vw;
}

.Home__Div--Left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Home__Header{
    color: #1A202C;
    max-width: 85%;
    font-size: 48px;
}


.Home__Subheader{
    font-size: 18px;
    color: #243E63;
    margin-top: 32px;
    line-height: 28px;
    max-width: 95%;
}

.Home--Subscript{
    color: #A0AEC0;
    font-size: 12px;
    font-weight: 700;
    margin-top: 56px;
    margin-bottom: 16px;
}

input[type="email"]{
    padding: 22px 16px;
    font-size: 16px;
    width: 83%;
    border-radius: 32px;
    border: 2px solid #a0aec06e;
    margin-top: 32px;
    transition: all 300ms ease;
}

input[type="email"]:hover{
    border: 2px solid #A0AEC0;
}

Input::placeholder{
    color:#A0AEC0;
    opacity: 60%;
}

.Home__Input:focus{
    border: 2px solid #6415ff;
    outline: none;
}

.Home__Form{
    position: relative;
}

.Home__Btn{
    position: absolute;
    color: #fff;
    background-color:#6415ff;
    padding: 18px 40px;
    font-size: 16px;
    font-weight: 700;
    left: 300px;
    top: 38px;
    border-radius: 32px;
    border: none;
}

.Home__Img--Customer-Mask{
    height: 100%;
    width: 100%;
    padding-right: 12px;
}

.Home__Img--Customer{
    height: 70%;
    width: 100%;
    max-width: 70%;
    opacity: 50%;
}

.Home__Div--Right{
    height:100%;
    width: 55%;
    display: flex;
    align-items: center;
}

.Home__Img--Mask{
    height: 100%;
    width: 100%;
}

.Home__Img{
    height: 100%;
    width: 100%;
}



/*Features Styles*/

#Features{
    height: 100vh;
    width: 100vw;
}

.Features__Div--Top{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Features--Title{
    color:#6415ff;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

.Features__Header{
    color: #243E63;
    font-size: 50px;
    font-weight: 800;
    margin: 16px 0 24px 0;
}

.Features__Subheader{
    color: #7C8BA1;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    width: 45%;
    line-height: 28px;
}

.Features__Div--Bottom{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Service--Wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Service{
    display: flex;
    height: 50%;
    width: calc(100% / 3);
    max-width: 300px;
    align-items: center;
    justify-content: center;
    margin: 0px 28px;
}

.Service-Icon{
    display: flex;
    height: 100%;
    max-height: 65px;
    width: 100%;
    max-width: 65px;
    border: 1px solid #7c8ba149;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.Service-Icon--Wrapper{
    display: flex;
    margin: 0 auto;
    height: 100%;
    max-height: 50%;
    width: 100%;
    max-width: 50%;
}

.Service__Icon{
    height: 100%;
    width: 100%;
}

.Service--Inner{
    display: flex;
    flex-direction: column;
}

.Service__Header{
    padding-top: 64px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.Service__Para{
    color:#7C8BA1;
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
    max-width: 90%;
}

/*Quality Styles*/

#Quality{
    height: 100vh;
    width: 100vw;
}

.Quality__Div--Left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 48px;
}

.Quality--Title{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color:#6415ff;
}

.Quality__Header{
    font-size: 50px;
    color:#243E63;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 18px 0;
}

.Quality__Para{
    font-size: 18px;
    color:#7C8BA1;
    font-weight: 500;
    line-height: 30px;
    max-width: 95%;
}

.Quality__Btn{
    padding: 14px 16px;
    border: none;
    border-radius: 32px;
    background-color:#6415ff;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-top: 32px;
    max-width: 145px;
}

.Quality__Div--Right{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Quality__Img--Mask{
    height: 70%;
    width: 100%;
    border: 1px solid #7c8ba149;
    border-radius: 6px;
    overflow: hidden;
}

.Quality__Img{
    height: 100%;
    width: 100%;
}


/*Steps Styles*/


#Steps{
    height: 100vh;
    width: 100vw;
}

.Steps__Div--Left{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.Steps__Img--Mask{
    height: 60%;
    width: 100%;
}

.Steps__Img{
    height: 100%;
    width: 100%;
}

.Steps__Div--Right{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
    padding: 56px 0 0 64px;
}

.Steps-Right--Top{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
}

.Steps--Title{
    font-size: 16px;
    font-weight: 700;
    color:#6415ff;
    margin-bottom: 12px
}

.Steps__Header{
    font-size: 50px;
    font-weight: 800;
    color:#243E63;
    margin-top: 12px;
}

.Steps-Right--Bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.Step{
    display: flex;
    height: calc(100% / 3);
    max-height: 120px;
    width: 100%;
    align-items: start;
}

.Step--Num{
    display: flex;
    margin-right: 24px;
    font-size: 38px;
    font-weight: 700;
    color:#CBD5E0;
}

.Step__Header{
    font-weight: 600;
    color:#243E63;
    margin-bottom: 12px;
}

.Step__Para{
    line-height: 32px;
    color:#718096;
    font-weight: 500;
    font-size: 14px;
    width: 75%;
}


/*Values Styles*/

#Values{
    height: 100vh;
    width: 100vw;
}

.Values__Div--Left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding: 16px 56px 0px 0px;
}


.Values-Left--Top{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    justify-content: center;
    padding-top: 24px;
}

.Values__Header{
    font-weight: 800;
    font-size: 50px;
    margin: 24px 0px 24px 0;
    color:#243E63;
}

.Values--Title{
    color:#6415ff;
    font-weight: 700;
    letter-spacing: 1px;
}

.Values__Para{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    max-width: 95%;
    color:#718BA1;
}

.Values-Left--Bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
    padding-top: 48px;
}

.Principle--Wrapper{
    display: flex;
    width: 100%;
    padding-top: 24px;
}

.Principle{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 48px;
}

.Principle__Div--Inner{
    display: flex;
    align-items: center;
}

.Principle-Icon--Decor,
.Principle-Icon--DecorTwo{
    display: flex; 
    height: 100%;
    width: 100%;
    max-height: 40px;
    max-width: 40px;
    border: 2px solid;
    border-radius: 50%;
    padding: 12px;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: none;

}

.Principle-Icon--Decor{
    background-color: #9AE6B4;
    color:#418458;
}

.Principle-Icon--DecorTwo{
    background-color: #FEB2B2;
    color:#9f4c4c;
}

.Prince__Header{
    color: #243E63;
}

.Principle__Para{
    margin-top: 12px;
    line-height: 24px;
    font-weight: 400;
    color:#718096;
    margin-bottom: 40px;
    width: 90%;
}

.Values__Btn{
    margin-top: 24px;
    padding: 14px 32px;
    max-width: 140px;
    border-radius: 32px;
    background-color:#6415ff;
    border: none;
    font-weight: 700;
    color: #fff;
}

.Values__Div--Right{
    height: 100%;
    width: 50%;
    align-items: center;
}


.Values__Img--Mask{
    height: 100%;
    width: 100%;
}

.Values__Img{
    height: 100%;
    width: 100%;
}



/*Plans Styles*/

#Plans{
    height: 150vh;
    width: 100vw;
}

.Plans__Div--Top{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.Plans--Title{
    font-weight: 700;
    color:#6415ff;
    letter-spacing: 1px;
    padding-right: 28px;
}

.Plans__Header{
    font-size: 50px;
    font-weight: 800;
    color:#243E63;
    margin: 24px;
}

.Plans__Para{
    font-size: 18px;
    font-weight: 500;
    color:#718BA1;
    max-width: 55%;
    text-align: center;
    line-height: 32px;
}

.Plans__Div--Bottom{
    display: flex;
    height: 80%;
    width: 100%;
}

.Plan--Wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.Plan--Term{
    font-size: 16px;
    color:#A0AEC0;
    font-weight: 700;
    letter-spacing: 2px;
}

.Plan--Offer{
    padding-top: 24px;
}

.Left-Plan,
.Right-Plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: calc(100% /3);
    margin: 0px 16px;
    max-width: 370px;
    border: 1px solid #a0aec083;
    overflow: hidden;
    border-radius: 12px;
    padding-top: 8px;
}


.LP--Top,
.RP--Top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding-top: 16px;
}


.LP--Mid,
.RP--Mid{
    display: flex;
    flex-direction: column;
    height: 45%;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #a0aec083;
}

.LP--Bottom,
.RP--Bottom{
    display: flex;
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.Left-Plan{
    background: linear-gradient(to right, rgb(77, 196, 137), rgb(156, 245, 213));
}

.LP--Title{
    color:#1A202C;
    font-weight: 700;
    font-size: 20px;
}

.LP__Header{
    color:#1A202C;
    font-size: 48px;
    margin: 12px 0 24px 0;
}

.LP__Btn{
    padding: 16px 48px;
    border-radius: 32px;
    background: linear-gradient(to right, rgb(77, 196, 137), rgb(156, 245, 213));
    color: #fff;
    font-weight: 700;
    border: none;
    letter-spacing: 1px;
}

.Inner-Left__Header{
    font-size: 20px;
}

.Right-Plan{
    background: linear-gradient(to right, rgb(203, 55, 50), rgb(245, 156, 156));
}

.RP--Title{
    font-size: 20px;
    color:#1A202C;
    font-weight: 700;
}

.RP__Header{
    font-size: 48px;
    color:#1A202C;
    margin: 12px 0 24px 0;
}

.RP__Btn{
    padding: 16px 48px;
    border-radius: 32px;
    border: none;
    background: linear-gradient(to right, rgb(203, 55, 50), rgb(245, 156, 156));
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}


.Middle-Plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: calc(100% /3);
    max-width: 380px;
    margin: 0px 16px;
    border-radius: 12px;
    border: 2px solid rgb(75, 83, 191);
    background: linear-gradient(to right, rgb(79, 87, 202), rgb(94, 103, 236));
}

.MP--Top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
    width: 100%;
    text-align: center;
    padding-top: 16px;
}

.MP--Mid{
    display: flex;
    flex-direction: column;
    height: 45%;
    width: 100%;
    text-align: center;
    justify-content: center;
    border: 2px solid rgb(75, 83, 191);
}

.Inner-Mid__Header{
    color: #fff;
}

.MP--Bottom{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.MP--Title{
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.MP__Header{
    color: #fff;
    font-size: 48px;
    margin: 12px 0 24px 0;
}

.MP--Term{
    font-size: 16px;
    color: #ffffffe4;
    font-weight: 700;
    letter-spacing: 2px;
}

.MP--Offer{
    padding-top: 24px;
    color: #ffffffd2;
}


.MP__Btn{
    padding: 16px 48px;
    border-radius: 32px;
    color: #6415ff;
    background-color: #fff;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
}


/*Dev-CTA Styles*/

#Dev-CTA{
    height: 70vh;
    width: 100vw;
    margin-bottom: 60px;
}

.Dev__Div--Inner{
    display: flex;
    height: 70%;
    width: 100%;
    align-items: center;
    background-color:#6415ff;
    border: none;
    border-radius: 12px;
}

.Dev__Header{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    max-width: 45%;
    margin-left: 160px;
}

.Dev__Btn-One{
    background-color: #F56565;
    padding: 22px 40px;
    border-radius: 32px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.Dev__Btn-Two{
    background-color: transparent;
    border: 1px solid #ffffffaf;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding: 22px 40px;
    margin-left: 32px;
}


/*Footer Styles*/

footer{
    height: 70vh;
    width: 100vw;
    background-color:#6415ff;
}

.Footer-Row__Column{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1380px;
    margin: 0 auto;
}


.Footer__Div--Top{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.Footer-Column--Wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.Footer-Column{
    height: 100%;
    width: calc(100% / 5);
    max-width: 115px;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.Column__Header{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 12px;
}

.Column__Link{
    font-size: 14px;
    color: #fff;
    margin-top: 14px;
}

.Footer__Div--Bottom{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.Footer--Left-Align{
    display: flex;
    height: 100%;
    align-items: center;
}

.Footer__Logo{
    max-height: 40px;
}

.Footer__Logo--Text{
    color: #fff;
    font-weight: 900;
}

.Footer--Mid-Align{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.Footer--Copyright{
    color: #fff;
}

.Footer--Right-Align{
    display: flex;
    height: 100%;
    align-items: center;
}

.Footer-Decor{
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

/* Media Quiery Styles*/

@media (max-width: 1280px){
    .Home__Btn{
            left: 284px;
            top: 38px;
        
    }

    .Home__Div--Left{
        padding-left: 48px; 
        width: 50%;
    }

    .Home__Header{
        font-size: 38px;
    }

    .Home__Subheader{
        font-size: 16px;
        text-align: left;
    }

    .Home__Div--Right{
        padding-right: 48px;
        width: 50%;
    }

    .Home__Img--Customer{
        max-width: 80%;
    }

    .Service{
        margin: 0px 28px;
    }

    .Quality__Div--Left{
        width: 50%;
        padding-left: 48px;
    }

    .Quality__Header{
        font-size: 48px;
        font-weight: 900;
    }

    .Quality__Div--Right{
        width: 50%;
        padding-right: 48px;
    }

    .Quality__Img--Mask{
        height: 55%;
    }

    .Steps__Div--Left{
        padding-left: 48px;
    }

    .Steps-Right--Top{
        height: 30%;
        margin-bottom: 64px;
        justify-content: center;
    }

    .Step__Para{
        width: 75%;
    }

    .Steps__Img--Mask{
        height: 55%;
    }

    .Values__Div--Left{
        padding-left: 48px;
        width: 50%;
    }

    .Values__Header{
        width: 90%;
        font-weight: 900;
        letter-spacing: 1px;
        margin-bottom: 24px;
    }

    .Values-Left--Top{
        height: 35%;
    }

    .Values__Para{
        line-height: 28px;
    }

    .Values-Left--Bottom{
        padding-top: 72px;
    }

    .Values__Btn{
        margin-top: 4px;
    }

    .Values__Div--Right{
        width: 50%;
        padding-right: 48px;
    }

    .Test__Div--Left{
        padding-left: 48px;
    }

    .Test__Div--Right{
        padding-right: 48px;
    }

    .Dev__Div--Inner{
        width: 90%;
    }

    .Left-Plan,
    .Middle-Plan,
    .Right-Plan{
        max-width: 340px;
    }


    .Dev__Header{
        padding: 0;
        width: 35%;
        font-size: 28px;
    }

    .Dev__Btn-One{
        margin-left: 56px;
    }

    .Footer__Div--Top{
        padding: 0 48px;
    }

    .Footer__Div--Bottom{
        padding: 0 48px;
    }

}


@media (max-width: 1200px){


    .Row{
        max-width: 1100px;
    }

    .Nav__Div--Container{
        max-width: 1000px;
    }
    
    .Home__Btn{
            left: 258px;
            top: 40px;
            padding: 16px 32px;
            font-size: 16px;
        
    }
    .Steps__Header{
        max-width: 75%;  
        font-size: 44px;
    }

    .Steps-Right--Top{
        margin-bottom: 64px;
    }

    .Values-Left--Top{
        height: 35%;
    }

    .Values__Para{
        line-height: 28px;
    }

    .Values__Div--Left{
        width: 55%;
    }

    .Principle{
        max-width: 240px;
    }

    .Principle__Para{
        padding-left: 12px;
    }

    .Values-Left--Bottom{
        padding-top: 72px;
    }

    .Values__Btn{
        margin-top: 4px;
    }

    .Values__Div--Right{
        width: 45%;
        padding-right: 48px;
    }

    .Left-Plan,
    .Middle-Plan,
    .Right-Plan{
        max-width: 330px;
    }

    .Test__Div--Left{
        padding-left: 48px;
    }

    .Test__Div--Right{
        width: 50%;
    }

    .Test__Header{
        font-size: 40px;
        margin-bottom: 4px;
    }

    .Test__Para{
        font-size: 18px;
    }

    .Dev__Div--Inner{
        width: 90%;
    }

    .Footer__Div--Top{
        padding: 0 48px;
    }

    .Footer__Div--Bottom{
        padding: 0 48px;
    }

    .Dev__Header{
        margin: 0;
        margin-left: 64px;
    }

    .Dev__Btn-One{
        margin-left: 72px;
    }

}

@media (max-width: 1100px){


    .Row{
        max-width: 1000px;
    }

    .Nav__Div--Container{
        max-width: 900px;
    }
    
    .Home__Btn{
            left: 232px;
            top: 42px;
            padding: 14px 24px;
            font-size: 16px;
        
    }

    .Home__Header{
        font-size: 38px;
    }

    .Features__Div--Top{
        height: 30%;
    }

    .Features__Header{
        font-size: 38px;
    }

    .Features__Subheader{
        font-size: 16px;
    }

    .Features__Div--Bottom{
        height: 70%;
    }

    .Service__Header{
        font-size: 20px;
        margin-top: 88px;
    }


    .Service__Para{
        font-size: 14px;
    }

    .Service{
        max-width: 240px;
    }


    .Nav__Link{
        display: none;
    }

    .Nav__Link--Awkward{
        margin-left: 20px;
    }


    #Features{
        height: 130vh;
    }

    .Features__Div--Top{
        height: 30vh;
        padding-top: 10vh;
    }

    .Features__Header{
        font-size: 48px;
    }

    .Features__Div--Bottom{
        padding-top: 5vh;
        height: 85vh;
    }

    .Service--Wrapper{
        height: 100%;
        justify-content: center;
    }

    .Service{
        width: 50%;
        max-width: 340px;
        height: calc(100% / 3);
    }

    .Service__Header{
        font-size: 22px;
        margin: 0;
    }

    .Service__Para{
        font-size: 16px;
        width: 100%;
    }


    .Steps__Div--Right{
        padding-left: 12px;
    }

    .Steps__Header{
        font-size: 44px;
    }

    .Values__Div--Left{
        width: 55%;
    }

    .Values__Div--Right{
        width: 45%;
    }

    .Values__Header{
        font-size: 44px;
    }

    #Plans{
        height: 320vh;
    }

    .Plans__Div--Top{
        height: 20%;
        max-height: 300px;
    }

    .Plans__Div--Bottom{
        height: 80%;
    }

    .Plan--Wrapper{
        padding: 0;
    }

    .Left-Plan,
    .Middle-Plan,
    .Right-Plan{
        min-width: 360px;
        max-height: 600px;
        margin: 24px 96px;
    }

    .Dev__Header{
        font-size: 32px;
        margin: 0;
        margin-left: 48px;
    }
}    


@media (max-width: 1000px){
    .Row{
        flex-direction: column;
    }

    #Home{
        height: 160vh;
    }

    .Home__Div--Left{
        height: 50%;
        width: 80%;
        align-items: center;
    }

    .Home__Header{
        text-align: center;
    }

    .Home__Subheader{
        max-width: 85%;
        text-align: center;
    }

    .Home__Btn{
        left: 450px;
        top: 40px;
        padding: 16px 32px;
    }

    .Home__Form{
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 90%;
    }

    .Home--Subscript{
        font-size: 16px;
    }

    .Home__Img--Customer{
        margin: 0 0 0 72px;
    }

    .Home__Div--Right{
        height: 50%;
        width: 100%;
        justify-content: center;
    }

    .Home__Img--Mask{
        height: 70%;
        width: 70%;
    }

    .Home__Img{
        margin: 0 0 0 48px;
    }
}

@media (max-width: 980px){
    .Row{
        max-width: 880px;
    }

    .Home__Btn{
        left: 379px;
        top: 40px;
        padding: 16px 32px;
    }

    .Values__Para{
        font-size: 16px;
    }
}